.Header-headerMenuLinks h3 {
    font-weight: bold;
}
.Header-headerMenuLinks li a:focus, .Header-headerMenuLinks li a:hover {
	background-color: #fff!important;
	color: #434343!important;
	text-decoration: underline;
	}
.Header-headerMenuLinks li a:hover h3 {
	color: #434343!important
}

.Header-headerMenuLinks li:last-child { display:none; }

a, a#filter-by-collection-cancel-button {
	color: #337ab7;
}

.Header-logoNameContainer {
    padding-top: 20px;
	padding-bottom: 20px;
	background: #0A0F15;
    background-image: url(https://libraries.psu.edu/sites/all/themes/custom/f5/images/ul/header_bg.jpg);
    background-repeat: repeat-x;
}
.Header-header {
		height:auto;
		padding-bottom: 50px;
	}
.header-text {
	margin-left: 36%;
	font-size: 2rem;
}

.Header-titleText {
    display: block;
    text-overflow:inherit;
    white-space: nowrap;
    overflow:visible;
}

.SimpleSearch-searchInput {
    margin-top: 40px;
}

ul.FooterNavigationLinks-footerLinksHolder {
	display:none;
}

div.Footer-footerLanguageHolder {
	color: #000000;
}

footer {
    color: #ddd;
    background: #0A0F15;
   	display:block;
}

footer h2 {
    font-size: 0.6875rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #ddd;
}
footer p, footer li {
    line-height: 1.7;
}

.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
	padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 75rem;
}

.cdm-footer a {
    color: #b6c9ec;
}

.footer__logo {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 50%;
    float: left;
}

.footer__social {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 50%;
    float: left;
}

.footer__social ul {
    list-style: none;
    margin-left: 0;
}

.footer__meta {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}

.footer__meta ul {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 50%;
    float: left;
    margin-left: 0;
    list-style: none;
}

.footer__boiler {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
    margin-top: 5px;
}

@media screen and (min-width: 768px) {
.CoreLayout-mainWrapperContainer {
    margin-top: 175px;
}

	.SimpleSearch-searchInput {
    margin-top: 4px;
    width: 250px;
}

.Header-controls, .Header-headerMenuLinks {
	position: static;
}
.Header-hamburgerHolder {
	float: left;
}

	.Header-controls {
width: 100%;
}

.Header-hamburgerHolder .btn-group button {
	display: none;
}

.Header-headerMenuLinks {
	display: flex;
flex-wrap: nowrap;
	border: none;
box-shadow: none;
}

.Header-headerMenuLinks h3 {
	margin: 5px;
}

	.footer__logo {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 16.6666666667%;
    float: left;
}
	.footer__social {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    left: 58.3333333333%;
    right: auto;
    float: left;
	}
	.footer__meta {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 33.3333333333%;
    float: left;
    border: none;
}
	.footer__boiler {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 25%;
    right: 58.3333333333%;
    left: auto;
    float: left;
}

}

@media only screen and (min-width: 48.063em) {
button, .button {
    display: inline-block;
}

.ask {
    display: block;
    position: fixed;
    right: -2px;
    top: 65%;
    z-index: 1;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.57);
    cursor: pointer;
}

.ask button {
    color: #fafafa;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 0;
    padding: 5px;
}
	.ask__part1 {
    font-size: 2rem;
}
}
button, .button {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: "Lato",sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
	text-decoration: none;
    text-align: center;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: #2c76c7;
    border-color: #2c76c7;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}

cdm-footer a {
    color: #b6c9ec;
}

cdm-footer a:visited {
    color: #b6c9ec;
}
